<h1 class="text-center">Leagues</h1>
<div class="row mt-1">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All Womens' Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var league in ViewBag.WomensLeagues)
                    {
                        <tr>
                            <td>@league.Name</td>
                            <td>@league.Sport</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All Hockey Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var league in ViewBag.AllHockeyLeagues)
                    {
                        <tr>
                            <td>@league.Name</td>
                            <td>@league.Sport</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All Non-Football Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var league in ViewBag.NonFootballLeagues)
                    {
                        <tr>
                            <td>@league.Name</td>
                            <td>@league.Sport</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All Conferences</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var league in ViewBag.Conferences)
                    {
                        <tr>
                            <td>@league.Name</td>
                            <td>@league.Sport</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All Leagues In Atlantic Region</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var league in ViewBag.AtlanticLeagues)
                    {
                        <tr>
                            <td>@league.Name</td>
                            <td>@league.Sport</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<h1 class="text-center mt-1">Teams</h1>
<div class="card mt-1">
    <div class="card-body">
        <h3>All Dallas Teams</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>Sport</th>
                <th>League</th>
            </tr>
            @foreach(var team in ViewBag.DallasTeams)
            {
                <tr>
                    <td>@team.TeamName</td>
                    <td>@team.Location</td>
                    <td>@team.CurrLeague.Sport</td>
                    <td>@team.CurrLeague.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <h3>All Teams Named 'Raptors'</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>Sport</th>
                <th>League</th>
            </tr>
            @foreach(var team in ViewBag.RaptorsTeams)
            {
                <tr>
                    <td>@team.TeamName</td>
                    <td>@team.Location</td>
                    <td>@team.CurrLeague.Sport</td>
                    <td>@team.CurrLeague.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <h3>All Teams With 'City' In Name</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>Sport</th>
                <th>League</th>
            </tr>
            @foreach(var team in ViewBag.CityTeams)
            {
                <tr>
                    <td>@team.TeamName</td>
                    <td>@team.Location</td>
                    <td>@team.CurrLeague.Sport</td>
                    <td>@team.CurrLeague.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <h3>All Teams With Names Starting With 'T'</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>Sport</th>
                <th>League</th>
            </tr>
            @foreach(var team in ViewBag.TeamsStartingWithT)
            {
                <tr>
                    <td>@team.TeamName</td>
                    <td>@team.Location</td>
                    <td>@team.CurrLeague.Sport</td>
                    <td>@team.CurrLeague.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <h3>All Teams (Sorted Alphabetically By Location)</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>Sport</th>
                <th>League</th>
            </tr>
            @foreach(var team in ViewBag.AllTeamsSortedByLocation)
            {
                <tr>
                    <td>@team.TeamName</td>
                    <td>@team.Location</td>
                    <td>@team.CurrLeague.Sport</td>
                    <td>@team.CurrLeague.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <h3>All Teams (Sorted Reverse-Alphabetically By Name)</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>Sport</th>
                <th>League</th>
            </tr>
            @foreach(var team in ViewBag.AllTeamsDescendingAlphabetically)
            {
                <tr>
                    <td>@team.TeamName</td>
                    <td>@team.Location</td>
                    <td>@team.CurrLeague.Sport</td>
                    <td>@team.CurrLeague.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
<h1 class="text-center mt-1">Players</h1>
<div class="card mt-1">
    <div class="card-body">
        <h3>Players With Last Name 'Cooper'</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Sport</th>
            </tr>
            @foreach(var player in ViewBag.LastNameCooper)
            {
                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.CurrentTeam.Location @player.CurrentTeam.TeamName</td>
                    <td>@player.CurrentTeam.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <h3>Players With First Name 'Joshua'</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Sport</th>
            </tr>
            @foreach(var player in ViewBag.FirstNameJoshua)
            {
                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.CurrentTeam.Location @player.CurrentTeam.TeamName</td>
                    <td>@player.CurrentTeam.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <h3>Players With Last Name 'Cooper' And Not First Name 'Joshua'</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Sport</th>
            </tr>
            @foreach(var player in ViewBag.LastNameCooperNotFirstNameJoshua)
            {
                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.CurrentTeam.Location @player.CurrentTeam.TeamName</td>
                    <td>@player.CurrentTeam.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <h3>Players With First Name 'Alexander' or 'Wyatt'</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Sport</th>
            </tr>
            @foreach(var player in ViewBag.LastNameCooper)
            {
                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.CurrentTeam.Location @player.CurrentTeam.TeamName</td>
                    <td>@player.CurrentTeam.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>


